.month {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  box-shadow: 0px 0px 13px 0px rgba(59, 59, 59, 0.75);
  border: none;
  border-radius: 5px;
}

.month-caption,
.day-of-week-caption,
.day-caption {
  border: none;
  padding: 10px;
}

.day-of-week-caption {
  color: gray;
}

.day-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.day-caption--selected {
  background: radial-gradient(circle at center, red 0%,red 50%, transparent 55%);
  color: white;
}

.day-caption--today {
  background: radial-gradient(circle at center, transparent 50%, red 52.5%, transparent 55%);
}
