<!-- Month -->
<div (click)="onMonthClick()"
     class="column month">

  <!-- Month caption -->
  <div class="row">
    <div class="ratio-height w-100 label month__caption">
      <div class="label__content flex-centered"> {{ monthCaption }} </div>
    </div>      
  </div>

  <!-- Days of week captions -->
  <div class="row">
    <div class="ratio-square label month__week-caption"
         *ngFor="let dayOfWeekCaption of daysOfWeekCaptions">
      <div class="label__content flex-centered">
        {{ dayOfWeekCaption }}
      </div>
    </div>
  </div>

  <!-- Days -->
  <div class="row"
       *ngFor="let week of view">
    <div (click)="onDayClick(day)"
         [class]="getClassForDay(day)"
         [class.ratio-square]="true"
         [class.month__day]="true"
         *ngFor="let day of week">{{ day?.day }}
    </div>
  </div>

</div>
