$month-font-size: 2rem;
$day-padding: 5px;
$day-width: 14.285714%; // 100% / 7 days

.month {
  display: flex;
  flex-flow: column;
  flex: 1;
  font-size: $month-font-size;
}

.week {
  display: flex;
  flex: 1;
}

.day {
    text-align: right;
    padding: $day-padding;
    padding-bottom: calc(#{$day-width} - #{$month-font-size} - #{$day-padding});
    width: $day-width;
    border: 1px solid black;
    overflow: hidden;

    &--hole {
        color: lightgray;
    }

    &--today {
        background: pink;
    }

    &--selected {
      background: cornflowerblue;
  }
}
