<h1>Styling</h1>
<p>Custom styles are defined in <code>app/custom-styles/styling-example.scss</code></p>

<h3>Redefining existing styles</h3>
<div class="wrapper">
  <sc-month-calendar></sc-month-calendar>
</div>

<h3>Using style properties</h3>
<div class="wrapper">
  <sc-month-calendar [monthClass]="monthClass"
                     [monthCaptionClass]="monthCaptionClass"
                     [dayOfWeekCaptionClass]="dayOfWeekCaptionClass"
                     [dayCaptionClass]="dayCaptionClass"
                     [currentDayClass]="currentDayClass"
                     [selectedDayClass]="selectedDayClass">
  </sc-month-calendar>
</div>

<h3>Using custom styles for specific days</h3>
<div class="wrapper">
  <sc-month-calendar [customDayClass]="customDayClass">
  </sc-month-calendar>
</div>
