.column {
  @include flex-column;
}

.row {
  @include flex-row;
}

.square-cell {
  @include flex-square-cell($day-width, $day-font-size, $day-padding);
}

.label {
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
  }
}
